@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
.hd-grid {
  margin: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

@media only screen and (min-width: 576px) {
  .hd-grid {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .hd-grid {
    max-width: 768px;
  }
}

@media only screen and (min-width: 992px) {
  .hd-grid {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-grid {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-grid {
    max-width: 1320px;
  }
}

.hd-col-1 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-1 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-1 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-1 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-1 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-1 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-2 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-2 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-2 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-2 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-2 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-2 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-3 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-3 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-3 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-3 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-3 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-3 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-4 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-4 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-4 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-4 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-4 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-4 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-5 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-5 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-5 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-5 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-5 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-5 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-6 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-6 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-6 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-6 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-6 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-6 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-7 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-7 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-7 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-7 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-7 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-7 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-8 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-8 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-8 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-8 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-8 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-8 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-9 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-9 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-9 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-9 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-9 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-9 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-10 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-10 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-10 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-10 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-10 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-10 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-11 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-11 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-11 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-11 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-11 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-11 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-12 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-sm-12 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-md-12 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-lg-12 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xl-12 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

.hd-col-xxl-12 {
  grid-column: span 12;
  padding-left: 12px;
  padding-right: 12px;
}

@media only screen and (min-width: 0px) {
  .hd-col-1 {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-2 {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-3 {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-4 {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-5 {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-6 {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-7 {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-8 {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-9 {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-10 {
    grid-column: span 10;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-11 {
    grid-column: span 11;
  }
}

@media only screen and (min-width: 0px) {
  .hd-col-12 {
    grid-column: span 12;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-1 {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-2 {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-3 {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-4 {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-5 {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-6 {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-7 {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-8 {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-9 {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-10 {
    grid-column: span 10;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-11 {
    grid-column: span 11;
  }
}

@media only screen and (min-width: 576px) {
  .hd-col-sm-12 {
    grid-column: span 12;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-1 {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-2 {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-3 {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-4 {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-5 {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-6 {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-7 {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-8 {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-9 {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-10 {
    grid-column: span 10;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-11 {
    grid-column: span 11;
  }
}

@media only screen and (min-width: 768px) {
  .hd-col-md-12 {
    grid-column: span 12;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-1 {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-2 {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-3 {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-4 {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-5 {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-6 {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-7 {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-8 {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-9 {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-10 {
    grid-column: span 10;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-11 {
    grid-column: span 11;
  }
}

@media only screen and (min-width: 992px) {
  .hd-col-lg-12 {
    grid-column: span 12;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-1 {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-2 {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-3 {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-4 {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-5 {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-6 {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-7 {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-8 {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-9 {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-10 {
    grid-column: span 10;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-11 {
    grid-column: span 11;
  }
}

@media only screen and (min-width: 1200px) {
  .hd-col-xl-12 {
    grid-column: span 12;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-1 {
    grid-column: span 1;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-2 {
    grid-column: span 2;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-3 {
    grid-column: span 3;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-4 {
    grid-column: span 4;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-5 {
    grid-column: span 5;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-6 {
    grid-column: span 6;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-7 {
    grid-column: span 7;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-8 {
    grid-column: span 8;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-9 {
    grid-column: span 9;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-10 {
    grid-column: span 10;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-11 {
    grid-column: span 11;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1400px) {
  .hd-col-xxl-12 {
    grid-column: span 12;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.v-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.v-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.v-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.h-align-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-align-baseline {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.h-align-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.h-align-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

html, body {
  font-family: 'Kumbh Sans', sans-serif;
}

.site-header__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: #14213D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.site-header__nav--desktop {
  width: 100%;
}

.site-header__nav--desktop .main-menu {
  text-align: right;
  padding-left: 0;
  margin-bottom: 0;
}

.site-header__nav--desktop .main-menu__item {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
}

.site-header__nav--desktop .main-menu__item:not(:first-of-type) {
  margin-left: 20px;
}

.site-header__nav--desktop .main-menu__link {
  line-height: 1em;
  text-decoration: none;
  color: #E5E5E5;
}

.site-header__nav--desktop .main-menu__link:hover {
  color: #fff;
}

.site-header__main {
  padding-top: 80px;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  position: relative;
  color: #fff;
  z-index: 2;
}

.site-header__main--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.site-header__main--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.site-header__main--img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: #14213D;
}

.site-header__logo {
  color: #fff;
}

.points {
  margin: 50px 0px;
}

.points a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.points__wrapper {
  padding: 15px;
  color: #14213D;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.points__wrapper:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(20, 33, 61, 0.2);
          box-shadow: 0px 0px 20px rgba(20, 33, 61, 0.2);
  -webkit-transform: translateY(-4px) scale(1.015);
          transform: translateY(-4px) scale(1.015);
}

@media only screen and (max-width: 768px) {
  .points__wrapper {
    margin: 12px 0px;
  }
}

.points__icon {
  margin-bottom: 12px;
}

.points__icon--wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FCA311;
  border-radius: 100%;
}

.points__icon--wrap img {
  width: 40px;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 16px 18px;
  text-align: center;
  line-height: 1em;
}

.btn:hover {
  text-decoration: none;
}

.btn__simple {
  border-radius: 10px;
  background-color: #FCA311;
  color: #fff;
  border: 2px solid #FCA311;
}

.btn__simple:hover {
  color: #fff;
  background: transparent;
}
